<html>
<head>
    <title>Flask guess game</title>
    
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>

<body>

    <h1>Guess game</h1>
    
    <form action="" id="guessform">
        <input type="text" id="guesstext" placeholder="Place a number between 0 and 100 ..." />
 
    </form>
    
    <a href="#" onclick="javascript:submitclick();">Submit</a>
    
    <div id="result">
    </div>
    
    <script>
    function submitclick(){
        $.ajax({
                type: 'POST',
                url: '/guess',
                data: JSON.stringify({number: document.getElementById("guesstext").value}),
                contentType: "application/json",
                dataType: 'text'
            }).always(function(data) {
                alert(data);
            });
        }
    </script>

</body>
</html>
